body {
    font-family: 'Segoe UI', sans-serif;
    background-image: url("https://cdn.bhdw.net/im/abstract-minimalist-green-and-gold-lightwave-august-2023-119628_w635.webp");
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;  
    min-height: 100vh;             
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border-radius: 20px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 5px 20px rgb(199, 188, 188);
}

h1 {
    text-align: center;
    color: #18fa03;
}

.input-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

#taskInput, #taskTime {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

#addBtn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

#addBtn:hover {
    background-color: #0056b3;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.task span {
    font-weight: 500;
}

.task button {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
}
